@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap");

:root {
	--col-accent: #24d7b6;
	--col-accent-dark: #0c62c5;
	--col-primary: rgba(255, 255, 255, 0.75);
	--col-text: #0e1631;
	--popup-z-index: 10;

	--col-matko-expense: #2daadf;
	--col-toni-expense: #b8d36a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-feature-settings: "lnum" 1;
	color: var(--col-text);
}

html,
body {
	min-height: 100%;
}

h1,
h2,
h3 {
	font-weight: 900;
}

h1 {
	font-size: 1.8rem;
}

button {
	outline: none;
	background: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
}

input {
	border: none;
	outline: none;
}

input:not([type="submit"]),
textarea {
	width: 100%;
	border: 1px solid #666;
	border-radius: 0.2em;
	padding: 8px;
	font-size: 1rem;
	resize: none;
}

textarea {
}

.end {
	justify-self: flex-end;
}
